html {
  font-size: 30pt;
}
body {
  background-color: rgb(220, 210, 180);
}
button {
    height: 36pt;
    width: 120pt;
    font-size: 30pt;
}
.name {
  color: blueviolet;
}
#hello {
  color: rgb(0, 125, 184);
}
