button {
  width: 100pt;
  height: 30pt;
  font-size: 25pt;
}

.app {
  background-color: white;
  height: 300pt;
  line-height: 100pt;
  width: 100%;
  text-align: center;
}

.count{
    font-size: 30pt;
    padding: 30pt;
}